


<div class="row m-2 mb-lg-2 mb-sm-2 d-flex justify-content-between    w-100 ">
  <!-- Button trigger modal -->
  <button (click)="open(createModal)" type="button" class="btn btn-long btn-primary " >
    Ekle
  </button>
  <input #v (change)="filterText"  class="form-control w-50 float-right float-md-right mr-2 mr-lg-2">
  <button (click)="onSearch(v)" type="button" class="btn btn-long btn-outline-secondary ">
    Ara
  </button>
</div>

<!-- Modal -->
<ng-template  #createModal let-modal>
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Renk Ekle</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form #fc="ngForm" >
    <fieldset >
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">insuranceType</label>
        <input name="name" ngModel  required  type="text" id="disabledTextInput" class="form-control">
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button (click)="onSubmit(fc); modal.close('Save click')" type="submit" class="btn btn-outline-dark" >Kaydet</button>
</div>
</ng-template>

<c-card >
  <c-card-header >Vites tipleri</c-card-header>
<c-card-body >
<table class="table ">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">İsim</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let insuranceType of insuranceTypes | systemFilter:filterText; let i=index">
    <th scope="row">{{i+1}}</th>
    <td>{{insuranceType.name}}</td>
    <td>

        <!-- Modal -->
        <ng-template #editModal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Vites Ekle</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body">
            <form #fe="ngForm" >
              <fieldset >
                  <input hidden name="id" [(ngModel)]="insuranceType.id">
              </fieldset>
              <fieldset >
                <div class="mb-3">
                  <label for="disabledTextInput" class="form-label">insuranceType</label>
                  <input name="name" [(ngModel)]="insuranceType.name" type="text" id="disabledTextInput" class="form-control">
                </div>
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button (click)="onUpdate(fe); modal.close('Save click')" type="submit" class="btn btn-outline-dark" >Kaydet</button>
          </div>
        </ng-template>
        <a (click)="open(editModal)">
          <mat-icon aria-hidden="false"  aria-label="Example home icon" class="i icon-lg icon-warn" fontIcon="edit"></mat-icon>
        </a>
    </td>
    <td>
      <a  (click)="open(deleteModal)" data-toggle="modal">
        <mat-icon aria-hidden="false"  aria-label="Example home icon" class="i icon-lg icon-danger" fontIcon="delete"></mat-icon>
      </a>
          <!-- Modal -->
          <ng-template #deleteModal let-modal>
            <div class="modal-body">
              <div class="modal-header">
               </div>
               <div class="modal-body">
                <p>Bu öğe silinecek onaylıyor musunuz?</p>
              </div>
            </div>
            <div class="modal-footer">
              <button (click)="modal.close('Save click')" type="submit" class="btn btn-outline-secondary" >Kapat</button>
              <button (click)="onDelete(insuranceType.id); modal.close('Save click')" type="submit" class="btn btn-outline-primary" >Onayla</button>
            </div>
          </ng-template>
    </td>
  </tr>
</tbody>
</table>
</c-card-body>
</c-card>

