<!--<c-header class="mb-4 d-print-none" position="sticky">-->
  <a class="header-brand" href="#">
    <img src="assets/img/brand/coreui-base.svg" alt="" width="150" height="150" class="d-inline-block align-top" alt="CoreUI Logo">
    <!-- site name -->
  </a>
  <header class="header">

    <button class="header-toggler" type="button">
      <span class="header-toggler-icon"></span>
    </button>
    <ul *ngFor="let item of navItems" class="header-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{item.url}}">{{item.name}} <span class="visually-hidden">(current)</span></a>
      </li>
    </ul>
    <!-- <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form> -->
  </header>
<!--</c-header>-->

