



<div class="row m-3 ">
  <div class="col-md-4 justify-content-sm-around  position-relative">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-long btn-primary position-absolute  start-0  " >
      Ekle
    </button>
  </div>
  <div class="col-md-8">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="card" *ngIf="cars">
  <div class="card-header">
    <h4 class="text-secondary">Model Ekle</h4>
  </div>
  <div class="card-body">
<table class="table ">
  <thead>
    <tr >
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Model</th>
      <th scope="col">Type</th>
      <th scope="col">Fuel</th>
      <th scope="col">Gear</th>
      <th scope="col">Brand</th>
      <th scope="col">Color</th>
      <th scope="col">Findex</th>
      <th scope="col"></th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{car.carName}}</td>
      <td>{{car.model}}</td>
      <td>{{car.carType}}</td>
      <td>{{car.fuel}}</td>
      <td>{{car.gear}}</td>
      <td>{{car.brand}}</td>
      <td>{{car.color}}</td>
      <td>{{car.minFindexScore}}</td>
      <td>
          <a data-target="#editModal"  [routerLink]="'/dashboard/cars/edit/'+car.id" data-toggle="modal">
             <mat-icon aria-hidden="false"   aria-label="Example home icon" class="i icon-lg icon-warn" fontIcon="edit"></mat-icon>
          </a>
      </td>
      <td>
        <a (click)="open(deleteModal)">
          <mat-icon aria-hidden="false"  aria-label="Example home icon" class="i icon-lg icon-danger" fontIcon="delete"></mat-icon>
        </a>
            <!-- Modal -->
            <ng-template #deleteModal let-modal>
              <div class="modal-body">
                <div class="modal-header">
                 </div>
                 <div class="modal-body">
                  <p>Bu öğe silinecek onaylıyor musunuz?</p>
                </div>
              </div>
              <div class="modal-footer">
                <button (click)="modal.close('Save click')" type="submit" class="btn btn-outline-secondary" >Kapat</button>
                <button (click)="onDelete(car.id); modal.close('Save click')" type="submit" class="btn btn-outline-primary" >Onayla</button>
              </div>
            </ng-template>
      </td>
    </tr>

  </tbody>

</table>
<nav aria-label="..."  >
  <ul class="pagination">
    <li class="page-item " [ngClass]="(page==1)?'disabled':''" >
      <a class="page-link" (click)="getCars(page-1)" tabindex="-1" >Previous</a>
    </li>
    <li *ngFor="let n of getLoopItems(); let i =index" class="page-item " [ngClass]="(n && page)?'':'active'"  >
      <a class="page-link"  (click)="getCars(n+1)">{{n+1}} <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item" [ngClass]="(page==totalPage)?'disabled':''" >
      <a class="page-link" (click)="getCars(page+1)">Next</a>
    </li>
  </ul>
</nav>
</div>
</div>
